[Unit]
Description=Resolver cache pre-warmer

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/docker run -v "{{ flamethrower_lists_dir }}/{{ item.temperature }}:/flamelist:ro" {{ flamethrower_image }}:{{ flamethrower_version }} -R -P tcptls -f /flamelist -Q {{ item.max_qps }} {{ flamethrower_target }}
