[Service]
ExecStart=/usr/bin/docker run flamethrower -R -P tcptls -f {{ flamethrower_lists_dir }}/{{ item.temperature }} -Q {{ item.max_qps }} {{ flame_target }}
